@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --color-green-50: #f7f9f4;
  --color-green-100: #e8edd9;
  --color-green-200: #d4dfbc;
  --color-green-300: #bdd09d;
  --color-green-400: #a3be7a;
  --color-green-500: #8aa85e;
  --color-green-600: #728c4d;
  --color-green-700: #5c7240;
  --color-green-800: #4a5c35;
  --color-green-900: #374428;
}

:root {
  --ui-saturated: #79af43;
}

:root.dark {
  --elements-text-secondary-color-static: var(--color-gray-300);
}

/* Home Page header */
:root.dark header {
  background-color: rgba(20, 20, 20, 0.55);
}
:root.light header {
  background-color: rgba(255, 255, 255, 0.65);
}
/* Remove header background on home page */
:root.dark:has(.typed-title-container) header {
  background-color: transparent;
}
:root.light:has(.typed-title-container) header {
  background-color: transparent;
}

:root.light {
  --elements-text-secondary-color-static: var(--color-gray-600);
  --ui-bg: #f0f0f0;
}

body h1 {
  color: var(--ui-primary);
}


body .video-player > img {
  width: 100%;
}

pre.text-sm\/6 {
  font-size: 0.8rem;
  letter-spacing: -0.01rem;
  line-height: 1.1rem;
}

pre.px-4 {
  padding-left: 0.8rem;
  padding-right: 0.4rem;
}
