@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --color-green-50: #f6fbf1;
  --color-green-100: #e1f2d0;
  --color-green-200: #cae8ab;
  --color-green-300: #afdc82;
  --color-green-400: #8dcb4e;
  --color-green-500: #79af43;
  --color-green-600: #649037;
  --color-green-700: #52762d;
  --color-green-800: #446225;
  --color-green-900: #30451b;
}

:root.dark {
  --elements-text-secondary-color-static: var(--color-gray-300);
}

:root.light {
  --elements-text-secondary-color-static: var(--color-gray-600);
  --ui-bg: #f0f0f0;
}

:root.light header {
  background-color: rgba(255, 255, 255, 0.65);
}


body .video-player > img {
  width: 100%;
}

pre.text-sm\/6 {
  font-size: 0.8rem;
  letter-spacing: -0.01rem;
  line-height: 1.1rem;
}

pre.px-4 {
  padding-left: 0.8rem;
  padding-right: 0.4rem;
}
